body {
    background-color: ivory;
}

.flex-container {
    display: flex;
    background-color: aqua;
    padding: 12px;
    border: 4px solid black;
    margin-top: 12px;
}

.item {
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    margin: 4px;
    padding: 4px;
    flex: 1 1 0%;
    display: flex;
}

.sub_item {
    background-color: lightgreen;
    border: 4px solid green;
    height: 32px;
    margin: auto;
    flex: 1;
    text-align: center;
}


.container {
    display: flex;  
    background-color: lightgray;
    margin-top:12px;
    border: 4px solid black;
    padding: 12px;
}

/* this selector selects all divs inside of .container */
.container .item-4-6 {
    background: peachpuff;
    border: 4px solid brown;
    height: 200px;
    flex: 1 1 auto;
}

.container .item5{
    background: lightblue;
    border: 4px solid navy;
    flex: 2 1 0%;
}

.container_column {
    display: flex;  
    flex-direction: column;
}
.container_column .item6{
    background: lightblue;
    border: 4px solid navy;
    flex: 2 1 0%;
}


.container_4 {
    margin-top: 12px;
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 8px; */
}

.item_4 {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
  /* flex: 1;  */
}


.container_out{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 12px; /* spacing between left and right */
    padding: 12px;
    background: wheat;
    margin-top: 12px;
    border: 4px solid darkgray;
}



.container_in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px; 
    flex: 1;
}

.item_in{
    flex: 1;
    background: lightcoral;
    border: 4px solid darkred;
    height: 120px;
}

